*{
	margin: 0;
	paddiing: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html,body{
	height: 100%;
	background-color: #d5f5f1;
}

div.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
div.clear{
	clear: both;
}
header{
	background-color: rgb(180,180,180);
	padding: 15px 2%;
}

div.logo-1{
	margin-left: 40px;
	float: left;
	width: 180px;
	height: 80px;
	background-image: url(../imagens/logo1.png);
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}

div.logo-2{
	margin-right: 40px;
	float: right;
	width: 180px;
	height: 80px;
	background-image: url(../imagens/logo2.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

section.cover-form{
	width: 100%;
}

.bg{
	width: center;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-image: url(../imagens/bg-form.png);
}

div.form-container{
	float: right;
	margin-right: 80px;
	width: 280px;
	height: 110%;
	position: relative;
	top: -5%;
	border: 1px solid #ccc;
	background-color: white;
	box-shadow: 2px 1px 2px 1px rgb(180, 180, 180, 180);
	z-index: 2;
}

div.form-container h2{
	text-align: center;
	color: black;
	font-weight: normal;
	padding: 20px 5px;
	font-size: 15px;
	border: 1px solid #ccc;
	background-color: rgb(210, 210, 210);
}

div.form-container form{
	margin-top: 2px;
	padding: 10px;
}

div.form-container p{
	font-size: 13px;
	color: #525252;
	border: 1px;
}

div.form-wraper{
	margin-top: 25px;
}

div.form-wraper:last-child{
	margin-top: 20px;
}

div.form-container input[type="text"]{
	width: 100%;
	border: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}


div.form-container form input[type=submit]{
	background-color: #033C50;
	color: white;
	margin-top: 10px;
	width: 100%;
	height: 50px;
	font-size: 22px;
	border: 0;
	cursor: pointer;
}

section.chamada{
	text-align: center;
	background-color: #d7f4f7;
	width: 89%;
	height: 150px;
	display: inline-block;
	position: relative;
	top: -40px;
	z-index: 1;
	margin-left: 75px;
}

.icone-seta{
	background-image: url("../imagens/arrow.png");
	position: absolute;
	transform: translateX(-50%);
	left: 50%;
	top: -15%;
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
}

section.chamada div.container{
	background-color: #29526d;
	padding: 70px 0 50px 0;
}

section.chamada h2{
	display: inline-block;
	font-weight: normal;
	width: 96%;
	max-width: 700px;
	font-size: 39px;
	color: black;
	margin-top: 30px;
}

section.chamada p{
	font-size: 20px;
	margin-top: 10px;
}


div.flex-mosaico{
	display: flex;
}

div.item-1-mosaico{
	border: 3px solid #ccc;
	background-position: center;
	background-size: cover;
	width: 160%;
	height: 350px;
	margin-top: -40px;
}

div.item-2-mosaico{
	border: 3px solid #ccc;
	padding: 40px 5px;
	background-color: #4794e6;
	margin-top: -40px;
}


div.item-2-mosaico p{
	display: inline-block;
	padding: 40px 0px;
	font-size: 20px;
	text-align: center;
	color: white;
	width: 380px;
	height: 30px;
}

footer{
	text-align: center;
	padding: 20px 0;
	background-color: rgb(180,180,180);
}

footer p{
	margin-top:  8px;
}
footer img{
	width: 120px;
}

        ------------------------
        /*-----RESPONSIVO-----*/
        ------------------------

@media screen and ( max-width: 960px){

}        

@media screen and (max-width: 570px){
	header{
		text-align: center;
	}

	.logo-1,.logo-2{
		display: inline-block;
		float: none;
	}
}